<footer> 
    <div class="footer-container" data-aos="zoom-in" data-aos-duration="1000">
        <div class="logo-social-links">
            <div class="logo">
                <img class="img-logo" src='assets\images\logon.png' data-aos="zoom-in" data-aos-duration="1000"/>
            </div>
            <div class="enlaces">
                <h2>Enlaces</h2>
                <a (click)="scrollTo('about')">Sobre mí</a>
                <a (click)="scrollTo('servicios')" >Servicios </a>
                <a (click)="scrollTo('cambios')" >Cambios físicos </a>
                <a (click)="scrollTo('testimonios')" >Testimonios </a>
                <a (click)="scrollTo('contacto')">Contacto</a>
            </div>
            <!-- <div class="colaboradores">
                <h2>Colaboradores</h2>
                <a href="https://miguelcerezo.com/" ><img src="assets\images\icon\miguelcerezo.png" alt="MC"></a>
                <a href="https://prmc-cv.web.app/" ><img src="assets\images\icon\prmc.png" alt="PRMC"></a>
            </div> -->
            <div class="legal">
                <h2>Páginas Legales</h2>
                <a href="/politica-de-cookies">Política de Cookies</a>
                <a href="/politica-de-privacidad">Política de Privacidad</a>
                <a href="/aviso-legal">Aviso Legal</a>
            </div>
            <div class="redes" data-aos="zoom-in" data-aos-duration="1000">
                <h2>Redes sociales</h2>
                <a href="https://wa.me/34672920667?text=Hola,%20me%20gustaria%20saber%20m%C3%A1s%20sobre%20sus%20servicios" target="_blank"><img src="assets\images\icon\whatsapp.png" alt="Whatsapp"></a>
                <a href="https://www.instagram.com/mc10trainning?igsh=MWI1a3JsYThjaWhmeA==" target="_blank"><img src="assets\images\icon\instagram.png" alt="Instagram"></a>
                <a href="https://www.tiktok.com/@mariacamposviedma?_t=ZN-8vUl9E9J08k&_r=1" target="_blank"><img src="assets\images\icon\tiktok.png" alt="Tiktok"></a>
                <a href="https://www.facebook.com/entrenadoramariacampos" target="_blank"><img src="assets\images\icon\facebook.png" alt="Facebook"></a>
                <a href="https://youtube.com/@mariacamposviedma8341?si=Cuj83Yq6neYFnYXJ" target="_blank"><img src="assets\images\icon\youtube.png" alt="Youtube"></a>
            </div>
        </div>
        <div class="copyright">
            <p>Todos los derechos reservados 2025</p>
            <img src="assets\images\icon\copyright.png" alt="Derechos de autor">
        </div>
    </div>
</footer>