
<section class="section" id="politica-de-cookies">
    <div class="container politica" data-aos="zoom-in" data-aos-duration="1000">
        <div class="politica-title">
            <h1>Política de Cookies</h1>
        </div>
        <div class="politica-content">
            <p class="parrafo">Política de cookies </p>
            <p>En esta web se utilizan cookies propias y de terceros para mejorar la experiencia del usuario, ofrecer contenidos adaptados a sus intereses y realizar análisis estadísticos sobre su uso.</p>
            <p class="parrafo">¿Qué son las cookies?</p>
            <p>Una cookie es un pequeño archivo que se almacena en el dispositivo del usuario con el fin de recordar información sobre su visita.</p>
            <p class="parrafo">Tipos de cookies utilizadas en este sitio:</p>
            <p>- Cookies técnicas: necesarias para el funcionamiento básico del sitio.</p>
            <p>- Cookies de análisis (Google Analytics): recopilan información de forma anónima sobre cómo los usuarios interactúan con la web.</p>
            <p>- Cookies de terceros: al interactuar con redes sociales a través de los enlaces externos incluidos en esta web (Instagram, Facebook, etc.).</p>
            <p class="parrafo">Consentimiento:</p>
            <p>Este sitio no instalará cookies no esenciales sin el consentimiento del usuario. Puedes aceptarlas, rechazarlas o configurarlas desde el banner de cookies.</p>
            <p class="parrafo">Gestión de cookies:</p>
            <p>Puedes cambiar la configuración de tu navegador para eliminar o bloquear cookies. También puedes revisar y modificar tu consentimiento en cualquier momento desde el botón de eliminar cookies.</p>
            <p>Al continuar navegando por esta web, aceptas el uso de las cookies en las condiciones indicadas, salvo que las hayas desactivado.</p>
            <button (click)="resetearCookies()">Eliminar cookies actuales</button>
        </div>
    </div>
</section>


