@import '../../../../styles.scss';

.testimonios {
    display: flex;
    flex-direction: column;

    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
}

.testimonios-title{
    //Disposición de los elementos
    text-align: center;
    h1{
        font-size: xx-large;
        font-weight: bold;
        margin-bottom: 1em;
    }
    p {
        margin: 1em;
    }
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 1em;
    text-align: center;

    video {
        width: 45%;
        aspect-ratio: 16 / 9;
        //height: max-content;
        //aspect-ratio: 1 / 1;
        border-radius: 10px;
        border: 1px solid $secondary-color-naranja;
        margin: 1em;
    }
}

.video-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;

    .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        //padding: 2em 4em 2em 4em;

        .contador {
            margin-top: 2em;
            color: $secondary-color-naranja;
        }

        video {
            width: 100%;
            //transform: scale(0.9);
            //aspect-ratio: 9/16;
            border-radius: 10px;
            border: 1px solid $secondary-color-naranja;
        }
    }
    .nav-button {
        background: transparent;
        border: none;
        font-size: 3em;
        color: $secondary-color-naranja;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }
    .left {
        left: 0;
    }

    .right {
        right: 0;
    }
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;

    .caption {
        text-align: center;
        margin-top: 0;
    }
}

// Media query básico para web grande
@media screen and (min-width: 1500px) {
    .testimonios-title{
        h1{
            font-size: 3em;
        }

        p {
            font-size: x-large;
        }
    }
}

// Media query básico para web
@media screen and (min-width: 1024px) {
    /* Ocultar según tamaño */
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

// Media query básico para tablet
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .video-slider {
        .video-container {
            video {
                width: 80%;
                aspect-ratio: 1 / 1;
                //transform: scale(0.9);
                //aspect-ratio: 9/16;
                border-radius: 10px;
            }
        }
    }
}

// Media query básico para móvil grande
@media screen and (max-width: 768px) and (min-height: 1000px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .video-slider {
        .video-container {
            video {
                width: 80%;
                aspect-ratio: 1 / 1;
                //transform: scale(0.9);
                //aspect-ratio: 9/16;
                border-radius: 10px;
            }
        }
    }
}

// Media query básico para móvil
@media screen and (max-width: 767px) and (max-height: 1000px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
}