
<section class="section" id="politica-de-privacidad">
    <div class="container privacidad" data-aos="zoom-in" data-aos-duration="1000">
        <div class="privacidad-title">
            <h1>Política de Privacidad</h1>
        </div>
        <div class="privacidad-content">
            <p class="parrafo">Responsable del tratamiento: </p>
            <p>El responsable del tratamiento de los datos personales es María Campos Viedma, domicilio en Sabiote, Jaén (España).</p>
            <p class="parrafo">Finalidad del tratamiento:</p>
            <p>Los datos personales recogidos a través del formulario de contacto serán utilizados únicamente para responder a solicitudes de información, citas o dudas relacionadas con los servicios ofrecidos.</p>
            <p class="parrafo">Legitimación:</p>
            <p>La base legal para el tratamiento de datos es el consentimiento del usuario, otorgado al enviar el formulario de contacto.</p>
            <p class="parrafo">Destinatarios:</p>
            <p>No se cederán datos a terceros, salvo obligación legal o cuando sea necesario para la prestación del servicio solicitado.</p>
            <p class="parrafo">Derechos:</p>
            <p>Puedes ejercer tus derechos de acceso, rectificación, supresión, limitación del tratamiento, oposición y portabilidad de tus datos, mediante solicitud a través del formulario de contacto.</p>
            <p class="parrafo">Conservación de los datos:</p>
            <p>Los datos se conservarán solo durante el tiempo necesario para cumplir con la finalidad para la que fueron recogidos.</p>
            <p class="parrafo">Medidad de seguridad:</p>
            <p>Se han adoptado las medidas técnicas y organizativas necesarias para garantizar la seguridad de los datos personales tratados.</p>
            <p>Este sitio web no almacena datos personales sin consentimiento, ni utiliza mecanismos invasivos como perfilado automatizado o decisiones basadas exclusivamente en tratamientos automatizados.</p>
        </div>
    </div>
</section>

