@import '../../../../styles.scss';

.privacidad {
    display: flex;
    flex-direction: column;

    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;

    border-radius: 10px;
}

.privacidad-title{
    //Disposición de los elementos
    text-align: center;
    h1{
        margin-top: 5em;
        font-size: xx-large;
        font-weight: bold;
    }
}

.privacidad-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2em;
    margin-bottom: 2em;
    .parrafo {
        font-size: large;
        align-self: start;
    }
}

// Media query básico para web grande
@media screen and (min-width: 1500px) {
    .privacidad-title{
        h1{
            font-size: 3em;
        }
    }
    .privacidad-content {
        p {
            font-size: x-large;
        }
    }
}