<section class="section banner" id="banner">
    <div class="container">
        <div data-aos="zoom-in" data-aos-duration="1000">
            <P class="titulo">¡TRANSFORMA CUERPO Y MENTE, IMPULSA TU VIDA!</P>
            <h1>MARÍA CAMPOS</h1>
            <h2>ENTRENADORA PERSONAL</h2>
            <P class="ubicacion">
                <i class="fa fa-map-marker-alt"></i>  SABIOTE, JAÉN
            </P>
            <button (click)="scrollTo()">¡Empieza hoy!</button>
        </div>
    </div>
</section>