@import '../../../../styles.scss';

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    text-align: center;
    z-index: 1000;
}

.cookie-banner button {
    margin-left: 15px;
    padding: 0.5em;
    border: none;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

.mas {
    text-decoration: none;
    padding-bottom: 0.5em;
}

// Media query básico para web grande
@media screen and (min-width: 1500px) {
    .cookie-banner{
        h2{
            font-size: xx-large;
        }
        p, button{
            font-size: x-large;
        }
    }
}
